@using MyLittleLibrary.Domain

<MudDialog>
    <DialogContent>
        <MudContainer Style="max-height: 500px; overflow-y: auto;">
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField @bind-Value="film.Title"
                                  Label="Title"
                                  Variant="Variant.Outlined"
                                  Required="true"
                                  RequiredError="Title is required!"
                                  For="@(() => film.Title)" />
                </MudItem>

                <MudItem xs="12">
                    <MudTextField @bind-Value="film.Director"
                                  Label="Director"
                                  Variant="Variant.Outlined"
                                  Required="true"
                                  RequiredError="Director is required!"
                                  For="@(() => film.Director)" />
                </MudItem>

                <MudItem xs="12">
                    <MudSelect T="VideoFormat" @bind-Value="film.Format"
                               Label="Format"
                               Variant="Variant.Outlined"
                               Required="true">
                        @foreach (VideoFormat format in Enum.GetValues<VideoFormat>())
                        {
                            <MudSelectItem Value="@format">@format</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="12">
                    <MudDatePicker @bind-Date="film.ReleaseDate"
                                   Label="Release Date"
                                   Variant="Variant.Outlined"
                                   DateFormat="yyyy-MM-dd" />
                </MudItem>

                <MudItem xs="12">
                    <MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="UploadFilmCover" Accept=".jpg,.jpeg,.png,.webp"
                                  MaximumFileCount="1">
                        <ActivatorContent>
                            <MudButton HtmlTag="label"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       StartIcon="@Icons.Material.Filled.Image">
                                Upload Film Poster
                            </MudButton>
                        </ActivatorContent>
                    </MudFileUpload>
                    
                    @if (!string.IsNullOrEmpty(film.ImagePath))
                    {
                        <div class="d-flex align-center mt-2">
                            <MudText Class="mr-2">Image selected:</MudText>
                            <MudChip T="string" Color="Color.Success"
                                     Icon="@Icons.Material.Filled.Check">@Path.GetFileName(film.ImagePath)</MudChip>
                            <MudIconButton Icon="@Icons.Material.Filled.Clear" Size="Size.Small"
                                           OnClick="ClearSelectedImage"/>
                        </div>
                    }
                </MudItem>

                <MudItem xs="12">
                    <MudTextField @bind-Value="film.ImagePath"
                                  Label="Image Path/URL"
                                  Variant="Variant.Outlined"
                                  For="@(() => film.ImagePath)" />
                </MudItem>

                <MudItem xs="12">
                    <MudSwitch @bind-Value="film.IsWatched"
                               Label="Already Watched"
                               Color="Color.Primary" />
                </MudItem>
            </MudGrid>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text" Color="Color.Default" OnClick="Cancel">Cancel</MudButton>
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary" 
                   OnClick="Submit" 
                   Disabled="@(!IsValid() || isSubmitting)">
            @if (isSubmitting)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                <MudText Class="ms-2">Saving</MudText>
            }
            else
            {
                <MudText>Save</MudText>
            }
        </MudButton>
    </DialogActions>
</MudDialog>
